
<html>
	<head>
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "838b7694-f8c8-446d-b090-f539c5066c16",
    });
  });
</script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;}

.icon-bar {
  position: fixed;
  top: 57%;
	right:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 60px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.whatsapp {
  background:#4FCE5D;
  color:#4FCE5D;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
	
	
	
	
	
	
.icon-barl {
  position: fixed;
  top: 57%;
	
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
	
.icon-barl a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 70px;
}


</style>
		
		
		
        <!-- End PushAlert -->
		
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		
		 <style>
            body{
                background-image: url(https://cdn.pixabay.com/photo/2020/03/10/16/47/moon-4919501_1280.jpg);
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
            }
    	
		.polling_message {
  color: white;
  float: left;
  margin-right: 2%;
}

.view_port {
  background-color: -v;
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color: ivory;
  background-image: linear-gradient( 93.1deg,  rgba(238,254,183,1) 19.1%, rgba(169,254,222,1) 53.9%, rgba(90,222,255,1) 92% );;
  color: white;
  height: 100%;
  width: 20%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

	
@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }	
		
    
    
    
    </style> 
		
		
		
		<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Fredoka+One&family=Fugaz+One&family=Merriweather:wght@900&family=Shrikhand&family=Spicy+Rice&display=swap" rel="stylesheet">
		
		<title>Posts</title>
				
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
		
		
		
		
	<style>
		body{
			background-color:ivory;
		}
		
		
		
		</style>
		
         <link href="https://fonts.googleapis.com/css?family=Bentham&family=Do+Hyeon&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Shrikhand&family=Fredoka+On&family=Merriweather:wght@700&display=swap" rel="stylesheet">
	<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: black;
   color:ivory;
   text-align: center;
	
}
</style>
	</head>
	
	<body >

		
		
	
	<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
	  var xo = document.getElementById("myDIVI");
  if (xo.style.display === "none") {
    xo.style.display = "block";
  } else {
    xo.style.display = "none";
  }
}
</script>	
		<div class="icon-bar" id="myDIV" style="display:none;"> 
		
			
			
			 <a href="https://wa.me/919532501491" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
			
			  <a href="mailto:pushkarmaurya20052001@gmail.com" class="google"><i class="fa fa-envelope"></i></a>
			
  <a href="https://in.linkedin.com/in/pushkar-maurya-3b306418b" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/pushkar.maurya.77" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="https://twitter.com/Pushkar28670813" class="twitter"><i class="fa fa-twitter"></i></a> 

  
</div>
		
		<div class="icon-barl" id="myDIVI" style="display:none;">

			<a href="https://www.superprof.co.in/iiit-bhagalpur-student-will-teach-you-full-stack-web-devlopment.html" style="color:ivory;background: #007ab8;"><i class="fa fa-mail-forward"></i></a>
			<a href="https://github.com/PUSHKARMAURYA" style="color:;background:black;"><i class="fa fa-github"></i></a>
		
		<a href="https://www.quora.com/profile/Pushkar-Maurya-2" style="color:;background:brown;"><i class="fa fa-quora"></i></a>
		</div>
		
		

	
		<nav class="navbar fixed-top" style="background:black;color:ivory; height:100px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:ivory;font-size:40px;padding-left:50px;"><i class="fab fa-accusoft"></i>MyIGNITE</a>
				    </div>
            <div class="" >
			
					
				
                <ul class="nav navbar-nav navbar-right ">
                    <% if(u==null) {%>
						<div class="row">
							<div class="col-6">
							<li style="color:ivory;"><a href="/login" style="color:ivory;font-size:40px;"><i class="fa fa-sign-in-alt"></i>   Login</a></li>	
							</div>
				    <div class="col-6">
						<li style="color:ivory;"><a href="/register" style="color:ivory;font-size:40px;">SignUp</a></li>
							</div>
                        
					</div>
          <% }else{%>
					
                        <li style="color:ivory;font-size:20px;"><a href="#" style="color:ivory;font-size:20px;"><i class="fas fa-user-check"></i></a></li>
                        <li style="color:ivory;font-size:20px;"><a href="/logout" style="color:ivory;font-size:20px;"><i class="fas fa-sign-out-alt"></i>   Logout</a></li>
<%}%>
        
                    
                </ul>
            </div>
        </div>
    </nav>
		
		

		<br>
		
		
		<h1>
		
		</h1>
		<br>
		<br>
		
		<br>
		<br>
			<% if(ntn ) {%>
		<div class="alert alert-success container" role="alert" style="font-size:40px;">
 Welcome <%=u%> !!!
</div><% }%>
		
		
		
			<% if(lo ) {%>
		<div class="alert alert-success container" role="alert" style="font-size:40px;">
 Welcome <%=u%> !!!
</div><% }%>
		
		
			<% if(knt) {%>
		<div class="alert alert-success container" role="alert" style="font-size:40px;">
 Welcome <%=u%> !!!
</div><% }%>
		
		
		
	
		 <div class="container">
     <header class="" style="">
         <div class="container">
			 
				  <a href="/profile" class="alert-link"> <div class="alert alert-primary bg-primary" role="alert" style="font-size:30px;color:ivory;"><i class="far fa-hand-point-up"></i>
 Check Users Profiles
</div></a>

			
			 <br>

			 
			 <div class="row">
				<div class="col-6">
					         
             <p style="font-size:30px;color:purple;">A platform for anyone to be instructor</p>
					<p>
                <a class="btn btn-success btn-lg" href="/new" style="width:400px;"><i class="fas fa-external-link-alt"></i>    Add New Posts</a>
             </p>
			 
				 </div>
				<div class="col-6">
						  <form action="/posts" method="get">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="Search Post title"  style="height:50px;width:400px;font-size:25px;">
                </div>
                
                
                <div class="form-group">
                    <button class="btn btn-lg btn-info btn-block"  style="height:50px;width:400px;font-size:25px;">Submit!</button>
                </div>
				
	
		
		
				
				
            </form>
				 </div> 
				 
			 </div>
             
		
			 
			 
			 
			 
         </div>
		 
			 </header>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
     <% items.forEach(function(item){ %>
            <div class="col-md-4 col-sm-6 ">
                <div class="thumbnail " style="border:3px solid ivory;margin-bottom:10px;">
					
					 <h3   style="font-family: 'Shrikhand', cursive;"  class="" style="color:ivory">
					  
					  <a href="#" style="color:ivory">
					  <%=item.iduser.substring(0,10)%>
						 </a>
					</h3>
					
					
 <h4  style="color:ivory;font-family: 'Merriweather', serif;">
						 <%- item.name %>  
					   </h4>
					<h4 >
						<%= item.date %>
					</h4>
                   <div class="caption">
                       
					   
                   </div>
                   <p>
					   <!--add username and style ohters-->
                       <a href="/posts/<%= item._id %>" class="btn btn-lg  " style="color:ivory">More Info</a>
                   </p>
                </div>
            </div>
         <% }); %>
		 
    </div>

		</div>
		
		
		<!-- The core Firebase JS SDK is always required and must be listed first -->
	 

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			
		<div class="footer" style="font-size:40px;">
		<div class="row">
			<div class="col-4">
						
<a onclick="myFunction()">CONTACT US</a>
			</div>
			<div class="col-4">
				<a href="/covid19" style="color:ivory">COVID19<a href="/covid19"></a>
</a>
			
			</div>
			
			<div class="col-4">
				<a href="/newser" style="color:ivory">
				WORLD NEWS
				</a>
				
			</div>
			</div>
			<div>
				  <a href="https://www.superprof.co.in/iiit-bhagalpur-student-will-teach-you-full-stack-web-devlopment.html" style="font-size:37px;color:ivory"><i class="fa fa-mail-forward"></i>      Devloped by pushkarmaurya.co</a>
			</div>


	
			
</div>
		
			
	</body>
</html>

